.mj-cl {
  background-color: #8000ff;
}

.section, .section--pc, .section--consola {
  margin-top: 60px;
  font-size: 1.4rem;
}

.section--consola {
  animation: duration 20s;
  animation-name: example;
  background-color: #8000ff;
}

.section--pc {
  animation: duration 20s;
  animation-name: example-2;
  background: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mj-cl {
  background-color: #8000ff;
}

.section, .section--consola, .section--pc {
  margin-top: 60px;
  font-size: 1.4rem;
}

.section--consola {
  animation: duration 20s;
  animation-name: example;
  background-color: #8000ff;
}

.section--pc {
  animation: duration 20s;
  animation-name: example-2;
  background: #ff0000;
}

.menu-pc {
  border: groove 4px #ff0000;
  background-image: url(img/pie\ pc.jpg);
}

.body-pc {
  background-image: url(img/fondo\ pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.todo-pc {
  margin: 0 auto;
  max-width: 1980px;
  background-image: url(img/pie\ pc.jpg);
  border: groove 8px #8000ff;
}

.pc {
  width: 100%;
  background-image: url(img/pie\ pc.jpg);
  border: groove 8px #ff0000;
  grid-area: footer;
}

.text-pc {
  background-image: linear-gradient(#ff0000, #ff661a);
}

body {
  display: grid;
  background-image: url(img/posiblefondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer";
}

.p-6 {
  color: red;
}

.todo {
  margin: 0 auto;
  max-width: 1980px;
  background-image: url(img/fondo.jpg);
  border: groove 8px;
}

.registro {
  margin-top: 90px;
  background-color: #8000ff;
  border: groove 4px #00ffff;
}

.padre-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header {
  margin: 20px;
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1;
}

.p-2 {
  color: white;
}

footer {
  animation: duration 20s;
  animation-name: example;
  margin-top: 80px;
  font-size: 1.4rem;
  border: 0.5rem groove #8000ff;
  background-image: url(img/fondo.jpg);
}

.menu {
  height: 70px;
  border: groove 4px #8000ff;
  background-image: url(img/fondo.jpg);
}

.section, .section--consola, .section--pc {
  margin-top: 60px;
  font-size: 1.4rem;
}

.section--consola {
  animation: duration 20s;
  animation-name: example;
  background-color: #8000ff;
}

.section--pc {
  animation: duration 20s;
  animation-name: example-2;
  background: #ff0000;
}

.text-consola {
  background-image: linear-gradient(#8000ff, #00ffff);
}

.text-movile {
  background-image: linear-gradient(#8000ff, #00ffff);

}

main {
  grid-area: main;
}

.todo-consola {
  margin: 0 auto;
  max-width: 1980px;
  background-image: url(img/fondo.jpg);
  border: groove 8px;
  border: 8px groove rgb(110, 17, 172);
}

@keyframes example-2 {
  from {
    background-color: #ff0000;
  }
  to {
    background-color: #ff661a;
  }
}
@keyframes example {
  from {
    background-color: #8000ff;
  }
  to {
    background-color: #00ffff;
  }
}
@media (max-width: 768px) {
  body {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
  }


  .registro {
   
    background-color: #8000ff;
    border: groove 4px #00ffff;
  }

  main {
    grid-area: main;
  }

  .text-pc {
    width: 100%;
    background-image: linear-gradient(#ff0000, #ff661a );
    font-size: 20px;
  }

  .text-consola {
    background-image: linear-gradient(#8000ff, #00ffff);
    font-size: 20px;
  }
  
  .text-movile {
    background-image: linear-gradient(#8000ff, #00ffff);
    font-size: 20px;
  }

  .section, .section--consola, .section--pc {
    margin-top: 50px;
    font-size: 1rem;
  }
  
  .section--consola {
    margin-top: 20px;
    animation: duration 20s;
    animation-name: example;
    background-color: #8000ff;
  }
  
  .section--pc {
    animation: duration 20s;
    animation-name: example-2;
    background: #ff0000;
  }

  .menu-pc {
    width: 100%;
    height: 60px; 
    border: groove 4px #ff0000;
    background-image: url(img/pie\ pc.jpg);
  }

  .menu {
    width: 100%;
    height: 70px;
    border: groove 4px #8000ff;
    background-image: url(img/fondo.jpg);
  }

  header {
    grid-area: header;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 40px;
  }

  frame {
    height: 100px;
  }
}


.boton {
  background-color: #ff0000;
}

/*# sourceMappingURL=estilo.css.map */
