@import "variables";

.menu-pc {
    border: groove 4px $rojo;
    background-image: url(img/pie\ pc.jpg);
  }
  
  .body-pc {
    background-image: url(img/fondo\ pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .todo-pc {
    margin: 0 auto;
    max-width: 1980px;
    background-image: url(img/pie\ pc.jpg);
    @include marco-consola;
  }

  .pc {
    width: 100%;
    background-image: url(img/pie\ pc.jpg);
    @include marco-pc;
    grid-area:footer ;
  }
  
  .text-pc {
    background-image: linear-gradient($rojo , $naranja);
  }