@import "variables";
@import "global";
@import "pc";

body {
  display: grid;
  background-image: url(img/posiblefondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "main"
    "footer"
  ;
}


.todo {
  margin: 0 auto;
  max-width: 1980px;
  background-image: url(img/fondo.jpg);
  border: 8px groove;
}


.registro
{
margin-top: 90px;
background-color: $violeta;
border:groove 4px #00ffff;
}

.padre-flex {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

header {
  margin: 20px;
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1;
}

.p-2
{
  color: white;
}
.ay {
  margin-top: 60px;

}

footer {
  margin-top: 60px;
  font-size: 1rem;
  grid-area: footer;
  border: 0.5rem groove $violeta;
  background-image: url(img/fondo.jpg);
}



.menu
{
 height: 60px;
border: groove 4px $violeta;
background-image: url(img/fondo.jpg);
}


.section-pc {
  animation: duration 20s;
  animation-name: example-2;
  margin-top: 80px;
  font-size: 1.4rem;
  background:$rojo;
}

.text-consola {
  background-image: linear-gradient($violeta, #00ffff);

}

.section-consola {
  margin-top: 20px;
  animation: duration 20s;
  animation-name: example;
  font-size: 1.5rem;
  background-color: $violeta;
}

main {
  grid-area: main;
}

.todo-consola {
 
  margin: 0 auto;
  max-width: 1980px;
  background-image: url(img/fondo.jpg);
  border: 8px groove rgb(110, 17, 172);
}

@keyframes example-2 {
  from {background-color:$rojo;}
  to {background-color:#ff661a;}
}


@keyframes example {
  from {background-color:$violeta;}
  to {background-color:#00ffff;}
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 4%;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer"
    ;
  }

  .registro
{
margin-top: 400px;
background-color: $violeta;
border:groove 4px #00ffff;
}

  main {
    grid-area: main;
  }



  header {

    grid-area: header;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 40px;
  }

  footer {
    
    grid-area: footer;
    border: 0.5rem groove rgb(14, 11, 17);
    background-image: url(img/fondo.jpg);
  }

  frame
  {
  height: 100px;
  }
}

.footer-consola {
  font-size: 1rem;
  grid-area: footer;
  border: 0.5rem groove $violeta;
  background-image: url(img/fondo.jpg);
}

.boton{
background-color: $rojo;
}