@import "variables";
@import "global";
@import "pc";

body {
  display: grid;
  background-image: url(img/posiblefondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "main"
    "footer"
  ;
}

.p-6
{
  color: red;
}

.todo {
  margin: 0 auto;
  max-width: 1980px;
  background-image: url(img/fondo.jpg);
  @include marco
}


.registro
{
margin-top: 90px;
background-color: $violeta;
border:groove 4px #00ffff;
}

.padre-flex {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

header {
  margin: 20px;
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1;
}

.p-2
{
  color: white;
}

footer {
  animation: duration 20s;
  animation-name: example;
  margin-top: 80px;
  font-size: 1.4rem;
  border: 0.5rem groove $violeta;
  background-image: url(img/fondo.jpg);
}

.menu
{
height: 70px;
border: groove 4px $violeta;
background-image: url(img/fondo.jpg);
}


.section{
  margin-top: 30px;
  font-size: 1.4rem;
}

.section--consola {
  @extend .section;
  animation: duration 20s;
  animation-name: example;
  background-color: $violeta;
}

.section--pc {
  @extend .section;
  animation: duration 20s;
  animation-name: example-2;
  background:$rojo;
}

.text-consola {
  background-image: linear-gradient($violeta, #00ffff);

}

.text-movile {
  background-image: linear-gradient($violeta, #00ffff);
  font-size: 1.9rem;
}

main {
  grid-area: main;
}

.todo-consola {
 
  margin: 0 auto;
  max-width: 1980px;
  background-image: url(img/fondo.jpg);
  @include marco;
  border: 8px groove rgb(110, 17, 172);
}

@keyframes example-2 {
  from {background-color:$rojo;}
  to {background-color:#ff661a;}
}


@keyframes example {
  from {background-color:$violeta;}
  to {background-color:#00ffff;}
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 4%;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer"
    ;
  }

  .text-pc {
    background-image: linear-gradient($rojo, $naranja);
    font-size: 1rem;
  }

  .text-consola {
    background-image: linear-gradient($violeta, #00ffff);
    font-size: 1rem;
  }
  
  .text-movile {
    background-image: linear-gradient($violeta, #00ffff);
    font-size: 1rem;
  }
  

  .registro
{
margin-top: 400px;
background-color: $violeta;
border:groove 4px #00ffff;
}

  main {
    font-size: 1rem;
    grid-area: main;
  }

  .menu
  {
  height: 70px;
  border: groove 4px $violeta;
  background-image: url(img/fondo.jpg);
  }
  

  header {

    grid-area: header;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 40px;
  }

  frame
  {
  height: 100px;
  }
}


.footer-consola {
  font-size: 1rem;
  grid-area: footer;
  border: 0.5rem groove $violeta;
  background-image: url(img/fondo.jpg);
}

.boton{
background-color: $rojo;
}