body 
{   
    flex-direction: column;
    display: flex;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(251, 246, 235);
    grid-template-areas: "cabecera" "cuerpo" "footer";
}

.izquierda 
{
    text-align: left;
}

.derecha
{
    text-align: right;
}

.alineado
{
    gap:1% ;
    padding: 5%;
    width: 100% ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.cabesa
{
position: sticky;
grid-area: cabecera;
}

.menu
{
    color: rgb(132, 120, 97);
}
.cuerpo
{
grid-area: cuerpo;
margin: 0%;
}

footer
{
border: rgb(8, 157, 243) groove 4px;
grid-area: footer;
}

.card {
background-color: #ffffff;
padding: 0%;
border-radius: 1%;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
width: 100%;
text-align: center;
}

.pequeno
{
display: flex;
gap: 1%;
padding-top: 5%;
flex-wrap: wrap;
width: 28%;
}

.cards-container
{
display: flex;
gap: 1%;
padding: 1%;
flex-wrap: wrap;
}

@media (max-width: 1000px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 15%;
    display: grid;
    grid-template-areas:"cabecera" "cuerpo" "footer";
  }
}
 